@model IEnumerable<CompanyProject.Models.CostReport>

@{
    ViewData["Title"] = "CostReportList";
    Layout = "~/Views/Shared/_ManagerLayout.cshtml";
}

<style>
    #table-div {
        margin: 25px;
    }
</style>

<div style="margin: 25px">

    @if (ViewData["ProjectInfo"] != null)
    {
        <h2>Cost Report List For @ViewData["ProjectInfo"]</h2>

    }
</div>

<p style="margin: 25px">
    Budget = $@Model.FirstOrDefault().projectBudget.ToString(), Budget Used = $@Model.FirstOrDefault().taskCost.ToString(),
    Budget Remaining = $@ViewData["remaining"]
</p>

<div id="table-div">
    <table class="table table-hover col-md-3 table-striped table-bordered caption-top">
        <caption>Tasks</caption>
        <thead>
            <tr>
                <th>
                    Task ID
                </th>
                <th>
                    Task Name
                </th>
                <th>
                    Task Budget
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.FirstOrDefault().tasks)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.taskID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.taskName)
                    </td>
                    <td>
                        $@Html.DisplayFor(modelItem => item.cost)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<p style="margin: 25px">Total = $@Model.FirstOrDefault().taskCost.ToString()</p>

<div id="table-div">
    <table class="table table-hover col-md-3 table-striped table-bordered caption-top">
        <caption>Employee Pay</caption>
        <thead>
            <tr>
                <th>
                    Task Name
                </th>
                <th>
                    First Name
                </th>
                <th>
                    Last Name
                </th>
                <th>
                    Hours
                </th>
                <th>
                    Salary
                </th>
                <th>
                    Salary for every 8 hours worked on project
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.FirstOrDefault().taskReports)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.taskName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Fname)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Lname)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.hours)
                    </td>
                    <td>
                        $@Html.DisplayFor(modelItem => item.salary)
                    </td>
                    <td>
                        $@Html.DisplayFor(modelItem => item.pay)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<p style="margin: 25px">Total = $@Model.FirstOrDefault().employeeSalary.ToString()</p>

<div id="table-div">
    <table class="table table-hover col-md-3 table-striped table-bordered caption-top">
        <caption>Department Assets</caption>
        <thead>
            <tr>
                <th>
                    Supplier Name
                </th>
                <th>
                    Asset Type
                </th>
                <th>
                    Cost
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.FirstOrDefault().departmentAssets)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.type)
                    </td>
                    <td>
                        $@Html.DisplayFor(modelItem => item.cost)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<p style="margin: 25px">Total = $@Model.FirstOrDefault().departmentCost.ToString()</p>

<div id="table-div">
    <table class="table table-hover col-md-3 table-striped table-bordered caption-top">
        <caption>Employee Assets</caption>
        <thead>
            <tr>
                <th>
                    First Name
                </th>
                <th>
                    Last Name
                </th>
                <th>
                    Type
                </th>
                <th>
                    Cost
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.FirstOrDefault().employeeAssets)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Fname)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Lname)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.type)
                    </td>
                    <td>
                        $@Html.DisplayFor(modelItem => item.cost)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<p style="margin: 25px">Total = $@Model.FirstOrDefault().employeeCost.ToString()</p>