@model IEnumerable<CompanyProject.Models.EmployeeDetails>

@{
    ViewData["Title"] = "EmployeeDetails";
    Layout = "~/Views/Shared/_ManagerLayout.cshtml";
}

<style>
    #table-div {
        margin: 25px;
    }
</style>

@if (ViewData["TaskInfo"] != null)
{
    <h2 style="margin: 25px">@ViewData["TaskInfo"].ToString()</h2>
}
<div style="margin: 25px">
    @if (TempData["success"] != null)
    {
        @TempData["success"];

    }
</div>

<p style="margin:25px">
    <a asp-action="Enlist" class="btn btn-primary" asp-controller="Manager" asp-route-id="@ViewData["employee"]">
        Enlist To A New Task
    </a>
</p>

<div id="table-div">
    <table class="table table-hover col-md-3 table-striped table-bordered caption-top">
        <caption>Employees' Status</caption>
        <thead>
            <tr>
                <th>
                    Employee ID
                </th>
                <th>
                    Project
                </th>
                <th>
                    Project Status
                </th>
                <th>
                    Task Name
                </th>
                <th>
                    Task Due Date
                </th>
                <th>
                    Task Budget
                </th>
                <th>
                    Task Status
                </th>
                <th>
                    Employee Hours
                </th>
                <th>
                    Employee Status
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.FirstOrDefault().taskDetails)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.empID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.projName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.projStatus)%
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.taskName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.dueDate)
                </td>
                <td>
                    $@Html.DisplayFor(modelItem => item.budget)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.taskStatus)%
                </td>
                <td>                    
                    @Html.DisplayFor(modelItem => item.hours)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.employeeStatus)%
                </td>
                <td>
                    @Html.ActionLink("Unlist", "Unlist", new { empid = item.empID, taskid = item.taskID }) |
                    @if (ViewData["mgrID"] != null)
                    {                       
                        
                        if (item.empID == Convert.ToInt32(ViewData["mgrID"])) {
                             @Html.ActionLink("Edit Work", "EditWork", new { empid = item.empID, taskid = item.taskID })
                        }
                    }
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>

<div id="table-div">
    <a asp-controller="Manager" class="btn btn-primary" asp-action="AddUse" asp-route-id="@ViewData["employee"]">Give Assets</a>
    <table class="table table-hover col-md-3 table-striped table-bordered caption-top">
        <caption>Employees' Used By</caption>
        <thead>
            <tr>
                <th>
                    Employee ID
                </th>
                <th>
                    Supplier
                </th>
                <th>
                    Asset
                </th>
                <th>
                    Field
                </th>
                <th>
                    Amount
                </th>
                <th>
                    Cost per 1
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.FirstOrDefault().UsedBy)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.employeeID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.supName)
                </td> 
                <td>
                    @Html.DisplayFor(modelItem => item.type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.field)
                </td>    
                <td>
                    @Html.DisplayFor(modelItem => item.amount)
                </td>
                <td>
                    $@Html.DisplayFor(modelItem => item.cost)
                </td>
                <td>
                    @Html.ActionLink("Edit", "EditUse", new { empId = item.employeeID, supId = item.supID, assetId = item.assetID }) |
                    @Html.ActionLink("Delete", "DeleteUse", new { empId = item.employeeID, supId = item.supID, assetId = item.assetID })
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>
<script>
    $(document).ready(function () {
        $('table').DataTable();
    });
</script>