@model IEnumerable<CompanyProject.Models.ManagerViewModel>
@{
    ViewData["Title"] = "Index";
    ViewBag.Title = "Manager View";
    Layout = "~/Views/Shared/_ManagerLayout.cshtml";
}

<style>
    #table-div {
        margin: 25px;
    }
</style>

<div style="margin: 25px">
    <h2>Manager View</h2>
    @if (ViewData["userInfo"] != null)
    {
        @ViewData["userInfo"];

    }
</div>

<div style="margin: 25px">
    @if (TempData["success"] != null)
    {
        @TempData["success"];

    }
</div>

<div id="table-div">
    <a asp-controller="Manager" class="btn btn-primary" asp-action="AddEmployee">Add Employee</a>
    <table class="table table-hover col-md-3 table-striped table-bordered caption-top">
        <caption>Employees</caption>
        <thead>
            <tr>
                <th>
                    Employee ID
                </th>
                <th>
                    First Name
                </th>
                <th>
                    Middle Name
                </th>
                <th>
                    Last Name
                </th>               
                <th>
                    Address
                </th>
                <th>
                    Gender
                </th>
                <th>
                    Birthday
                </th>
                <th>
                    Salary
                </th>
                <th>
                    Role Name
                </th>               
                <th>
                    Superviser Name
                </th>            
                <th>

                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.FirstOrDefault().Employees)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Fname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Mname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Lname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Sex)
                <td>
                    @Html.DisplayFor(modelItem => item.BirthDate)
                </td>
                <td>
                    $@Html.DisplayFor(modelItem => item.Salary)
                </td>
                <td>
                    @if (item.RoleID != 0)
                    {
                        @Html.DisplayFor(modelItem => item.RoleName)
                    }
                </td>               
                <td>
                    @if (item.SuperID != 0)
                    {
                        @Html.DisplayFor(modelItem => item.SupervisorName)
                    }
                </td>
                <td>                    
                    @Html.ActionLink("Edit", "EditEmployee", new { id = item.ID }) |
                    @Html.ActionLink("Employee Details", "EmployeeDetails", new { id = item.ID }) |
                    @Html.ActionLink("Fire", "FireEmployee", new { id = item.ID })                                    
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>

<div id="table-div">
    <a asp-controller="Manager" class="btn btn-primary" asp-action="AddLocations">Add Locations</a>
    <table class="table table-hover col-md-3 table-striped table-bordered caption-top">
        <caption>Locations</caption>
        <thead>
            <tr>
                <th>
                    Department ID
                </th>
                <th>
                    Location Name
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.FirstOrDefault().locations)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.depID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.loc_name)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "EditLocation", new { id = item.depID, name = item.loc_name }) |
                        @Html.ActionLink("Delete", "DeleteLocation", new { id = item.depID, name = item.loc_name })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div id="table-div">
    <a asp-controller="Manager" class="btn btn-primary" asp-action="AddProject">Add Project</a>
    <table class="table table-hover col-md-3 table-striped table-bordered caption-top">
        <caption>Projects</caption>
        <thead>
            <tr>
                <th>
                    Project ID
                </th>
                <th>
                    Project Name
                </th>
                <th>
                    Department Location
                </th>
                <th>
                    Budget
                </th>
                <th>
                    Project Status
                </th>
                <th>
                    Project Due Date
                </th>            
                <th>
                    Field
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.FirstOrDefault().Projects)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.projID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.projName)
                    </td>               
                    <td>
                        @Html.DisplayFor(modelItem => item.location)
                    </td>
                    <td>
                        $@Html.DisplayFor(modelItem => item.cost)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.projStatus)%
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.dueDate)
                    </td>                 
                    <td>
                        @Html.DisplayFor(modelItem => item.field)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "EditProject", new { id = item.projID }) |
                        @Html.ActionLink("Project Details", "ProjectDetails", new { id = item.projID }) |
                        @Html.ActionLink("Delete", "DeleteProject", new { id = item.projID })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div id="table-div">
    <a asp-controller="Manager" class="btn btn-primary" asp-action="AddTask">Add Task</a>
    <table class="table table-hover col-md-3 table-striped table-bordered caption-top">
        <caption>Tasks</caption>
        <thead>
            <tr>
                <th>
                    Task ID
                </th>
                <th>
                    Task Name
                </th>
                <th>
                    Task Budget
                </th>
                <th>
                    Task Due Date
                </th>
                <th>
                    Task Project Name
                </th>
                <th>                   
                </th>           
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.FirstOrDefault().tasks)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.taskID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.taskName)
                    </td>
                    <td>
                        $@Html.DisplayFor(modelItem => item.cost)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.taskDueDate)
                    </td>
                    <td>
                        @if (item.projID != 0)
                        {
                            @Html.DisplayFor(modelItem => item.projName)
                        }
                    </td>                    
                    <td>
                        @Html.ActionLink("Edit", "EditTask", new { id = item.taskID }) |
                        @Html.ActionLink("Task Information", "TaskInformation", new { id = item.taskID }) |
                        @Html.ActionLink("Delete", "DeleteTask", new { id = item.taskID })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div id="table-div">
    <a asp-controller="Manager" class="btn btn-primary" asp-action="AddSupplier">Add Supplier</a>
    <table class="table table-hover col-md-3 table-striped table-bordered caption-top">
        <caption>Suppliers</caption>
        <thead>
            <tr>
                <th>
                    Supplier ID
                </th>
                <th>
                    Supplier Name
                </th>
                <th>
                    Supplier product
                </th>
                <th>
                    Role Name
                </th>               
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.FirstOrDefault().Suppliers)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.supID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.product)
                    </td>
                    <td>
                        @if (item.roleID != 0)
                        {
                            @Html.DisplayFor(modelItem => item.roleName)
                        }
                    </td>                   
                    <td>
                        @Html.ActionLink("Edit", "EditSupplier", new { id = item.supID }) |
                        @Html.ActionLink("Supplier Details", "SupplierDetails", new { id = item.supID }) |
                        @Html.ActionLink("Delete", "DeleteSupplier", new { id = item.supID })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div id="table-div">
    <a asp-controller="Manager" class="btn btn-primary" asp-action="AddRole">Add Role</a>
    <table class="table table-hover col-md-3 table-striped table-bordered caption-top">
        <caption>Roles</caption>
        <thead>
            <tr>
                <th>
                    Role ID
                </th>
                <th>
                    Role Name
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.FirstOrDefault().Roles)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.roleID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.roleName)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "EditRole", new { id = item.roleID }) |
                        @Html.ActionLink("Delete", "DeleteRole", new { id = item.roleID })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>


<script>
    $(document).ready(function () {
        $('table').DataTable();
    });
</script>