@model CompanyProject.Models.ProgressReport

@{
    ViewData["Title"] = "ProgressReportList";
    Layout = "~/Views/Shared/_ManagerLayout.cshtml";
}

<style>
    #table-div {
        margin: 25px;
    }
</style>

<div style="margin: 25px">

    @if (ViewData["ProjectInfo"] != null)
    {
        <h2>Project Progress Report For @ViewData["ProjectInfo"]</h2>

    }

    <h3>Current status = @Model.status%</h3>

    <h3>Project Due Date = @Model.dueDate</h3>

    <h3>Project Budget = $@Model.budget</h3>

</div>

<div style="margin: 25px" class="progress">
    <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow=@Model.status.ToString()
         aria-valuemin="0" aria-valuemax="100" style="width:@Model.status%">
        <span class="sr-only">@Model.status% Complete</span>
    </div>
</div>

<div id="table-div">
    <table class="table table-hover col-md-3 table-striped table-bordered caption-top">
        <caption>Tasks</caption>
        <thead>
            <tr>
                <th>
                    Task ID
                </th>
                <th>
                    Task Name
                </th>
                <th>
                    Task Budget
                </th>
                <th>
                    Task Due Date
                </th>
                <th>
                    Status
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.tasks)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.taskID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.taskName)
                </td>
                <td>
                    $@Html.DisplayFor(modelItem => item.cost)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.taskDueDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.status)%
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>

<div id="table-div">
    <table class="table table-hover col-md-3 table-striped table-bordered caption-top">
        <caption>Employee Progress</caption>
        <thead>
            <tr>
                <th>
                    Employee Name
                </th>
                <th>
                    Role Name
                </th>
                <th>
                    Hours
                </th>
                <th>
                    Task Name
                </th>
                <th>
                    Employee Status
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.progress)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.roleName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.hours)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.taskName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.status)%
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div id="table-div">
    <table class="table table-hover col-md-3 table-striped table-bordered caption-top" id="table">
        <caption>Employee Total Hours</caption>
        <thead>
            <tr>
                <th>
                    Employee Name
                </th>
                <th>
                    Hours
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.EmployeeHours)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.hours)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div id="piechart" style="width: 900px; height: 500px;"></div>

<p style="margin: 25px"><strong>Total Hours = @Model.totalHours.ToString()</strong></p>
<script>
    $(document).ready(function () {
        $('table').DataTable();
    });
</script>

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
    google.charts.load('current', { 'packages': ['corechart'] });
    google.charts.setOnLoadCallback(drawChart);

    function drawChart() {
        employees = new Array();
        hours = new Array();
        var table = document.getElementById("table");
        for (let row of table.rows) {
            let i = 0;
            for (let cell of row.cells) {
                if (i == 0) {
                    employees.push(cell.innerText);
                    i++;
                }
                else {
                    hours.push(cell.innerText);
                }
            }
        }
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Employee');
        data.addColumn('number', 'hours');

        for (let i = 1; i < employees.length; i++) {
            data.addRow([employees[i], parseFloat(hours[i])]);
        }
        var options = {
            title: 'Hours'
        };

        var chart = new google.visualization.PieChart(document.getElementById('piechart'));

        chart.draw(data, options);
    }
</script>