@model CompanyProject.Models.ProjectInfo

@{
    ViewData["Title"] = "ProjectDetails";
    Layout = "~/Views/Shared/_ManagerLayout.cshtml";
}

<style>
    #table-div {
        margin: 25px;
    }
</style>

@if (ViewData["ProjectInfo"] != null)
{
    <h2 style="margin: 25px">@ViewData["ProjectInfo"].ToString()</h2>
}
<div id="table-div">
    <table class="table table-hover col-md-3 table-striped table-bordered caption-top">
        <caption>Employee Progress</caption>
        <thead>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Role Name
                </th>
                <th>
                    Task Name
                </th>
                <th>
                    Hours
                </th>
                <th>
                    Employee Status
                </th> 
                <th>
                    Documentaion
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.details)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.roleName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.taskName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.hours)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.status)%
                </td>  
                <td>
                    @Html.DisplayFor(modelItem => item.documentation)
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>

<div id="table-div">
    <table class="table table-hover col-md-3 table-striped table-bordered caption-top">
        <caption>Tasks</caption>
        <thead>
            <tr>
                <th>
                    Task ID
                </th>
                <th>
                    Task Name
                </th>
                <th>
                    Task Budget
                </th>
                <th>
                    Task Due Date
                </th>
                <th>
                    Task Status
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.tasks)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.taskID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.taskName)
                </td>
                <td>
                    $@Html.DisplayFor(modelItem => item.cost)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.taskDueDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.status)%
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>

<script>
    $(document).ready(function () {
        $('table').DataTable();
    });
</script>