@model IEnumerable<CompanyProject.Models.TaskInformation>

@{
    ViewData["Title"] = "TaskInformation";
    Layout = "~/Views/Shared/_ManagerLayout.cshtml";
}

<style>
    #table-div {
        margin: 25px;
    }
</style>

@if (ViewData["TaskInfo"] != null)
{
    <h2 style="margin: 25px">@ViewData["TaskInfo"].ToString()</h2>
}
    <div id="table-div">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Name
                    </th>                  
                    <th>
                        Hours
                    </th>
                    <th>
                       Role Name
                    </th>  
                    <th>
                        Employee Status
                    </th>
                    <th>
                        Documentation
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.hours)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.roleName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.status)%
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.documentation)
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>