@model IEnumerable<CompanyProject.Models.ProjectHoursReport>

@{
    ViewData["Title"] = "ProjectHoursReportList";
    Layout = "~/Views/Shared/_ManagerLayout.cshtml";
}

<style>
    #table-div {
        margin: 25px;
    }
</style>

<div style="margin: 25px">

    @if (ViewData["ProjectInfo"] != null)
    {
        <h2>Cost Report List For @ViewData["ProjectInfo"]</h2>

    }
</div>

<div id="table-div">
    <table class="table table-hover col-md-3 table-striped table-bordered caption-top">
        <caption>Project Hours</caption>
        <thead>
            <tr>
                <th>
                    Project ID
                </th>
                <th>
                    Project Name
                </th>
                <th>
                    Employee ID
                </th>
                <th>
                    Hours
                </th>
                <th>
                    Task ID
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.projID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.projName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.employeeID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.hours)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.taskID)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

