@model IEnumerable<CompanyProject.Models.AdminViewModel>
@{
    ViewData["Title"] = "AdminIndex";
}

<h2>Admin View</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<div>
    @if (ViewData["userInfo"] != null)
    {
        @ViewData["userInfo"];
    }
</div>
<table class="table table-hover col-md-3">
    <thead>
        <tr>
            <th>
                Employee ID
            </th>
            <th>
                First Name
            </th>
            <th>
                Last Name
            </th>
            <th>
                Salary
            </th>
            <th>
                Role ID
            </th>
            <th>
                Department ID
            </th>
            <th>
                Superviser ID
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.FirstOrDefault().Employees)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Fname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Lname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Salary)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RoleID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DepID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SuperID)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                </td>
            </tr>
        }
    </tbody>
</table>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table table-hover col-md-3">
    <thead>
        <tr>
            <th>
                Department ID
            </th>
            <th>
                Department Name
            </th>
            <th>
                Department Location
            </th>
            <th>
                Manager ID
            </th>
            <th>
                Project ID
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.FirstOrDefault().Departments)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.depID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.depName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.location)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.mgrID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.projID)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                </td>
            </tr>
        }
    </tbody>
</table>

