@model IEnumerable<CompanyProject.Models.Logs>

@{
    ViewData["Title"] = "DeletedLogs";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2 style="margin:25px">Deleted Logs</h2>

<style>
    #table-div {
        margin: 25px;
    }
</style>

<div id="table-div">    
    <table class="table table-hover col-md-3 table-striped table-bordered caption-top">
        <caption>Deleted Supplier Distribution Logs</caption>
        <thead>
            <tr>
                <th>
                    ID
                </th>
                <th>
                    Department ID
                </th>
                <th>
                    Department
                </th>
                <th>
                    Supplier ID
                </th>
                <th>
                    Supplier
                </th>
                <th>
                    Asset ID
                </th>
                <th>
                    Asset
                </th>
                <th>
                    Field
                </th>
                <th>
                    Amount
                </th>
                <th>
                    Deleted At
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.FirstOrDefault().distributed_To_Audits)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.depID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.depName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.supID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.supName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.assetID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.assetName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.field)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.amount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.deleted_at)
                </td>
                <td>
                    @Html.ActionLink("Delete", "DeleteDistAudit", new { id = item.id })
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>

<div id="table-div">   
    <table class="table table-hover col-md-3 table-striped table-bordered caption-top">
        <caption>Deleted Used By Logs</caption>
        <thead>
            <tr>
                <th>
                    ID
                </th>
                <th>
                    Employee ID
                </th>
                <th>
                    Name
                </th>
                <th>
                    Supplier ID
                </th>
                <th>
                    Supplier Name
                </th>
                <th>
                    Asset ID
                </th>
                <th>
                    Asset Name
                </th>
                <th>
                    Field
                </th>
                <th>
                    Amount
                </th>
                <th>
                    Deleted At
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.FirstOrDefault().used_By_Audits)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.empID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.fullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.supID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.supName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.assetID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.assetName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.field)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.amount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.deleted_at)
                </td>
                <td>
                    @Html.ActionLink("Delete", "DeleteUsedAudit", new { id = item.id })
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>

<div id="table-div">   
    <table class="table table-hover col-md-3 table-striped table-bordered caption-top">
        <caption>Deleted Works On Logs</caption>
        <thead>
            <tr>
                <th>
                    ID
                </th>
                <th>
                    Employee ID
                </th>
                <th>
                    Name
                </th>
                <th>
                    Task ID
                </th>
                <th>
                    Task Name
                </th>
                <th>
                    Hours
                </th>
                <th>
                    Status
                </th>
                <th>
                    Deleted At
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.FirstOrDefault().works_On_Audits)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.empID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.fullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.taskID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.taskName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.hours)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.status)%
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.deleted_at)
                </td>
                <td>
                    @Html.ActionLink("Delete", "DeleteWorkAudit", new { id = item.id })
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>

<script>
    $(document).ready(function () {
        $('table').DataTable();
    });
</script>
