@model IEnumerable<CompanyProject.Models.Logs>

@{
    ViewData["Title"] = "DeletedLogs";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2 style="margin:25px">Deleted Logs</h2>

<style>
    #table-div {
        margin: 25px;
    }
</style>

<div id="table-div">    
    <table class="table table-hover col-md-3 table-striped table-bordered caption-top">
        <caption>Deleted Supplier Distribution Logs</caption>
        <thead>
            <tr>
                <th>
                    ID
                </th>
                <th>
                    Department ID
                </th>
                <th>
                    Supplier ID
                </th>
                <th>
                    Asset ID
                </th>
                <th>
                    Field
                </th>
                <th>
                    Deleted At
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.FirstOrDefault().distributed_To_Audits)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.depID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.supID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.assetID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.field)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.deleted_at)
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>

<div id="table-div">   
    <table class="table table-hover col-md-3 table-striped table-bordered caption-top">
        <caption>Deleted Used By Logs</caption>
        <thead>
            <tr>
                <th>
                    ID
                </th>
                <th>
                    Employee ID
                </th>
                <th>
                    Supplier ID
                </th>
                <th>
                    Asset ID
                </th>
                <th>
                    Field
                </th>
                <th>
                    Deleted At
                </th>               
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.FirstOrDefault().used_By_Audits)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.empID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.supID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.assetID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.field)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.deleted_at)
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>

<div id="table-div">   
    <table class="table table-hover col-md-3 table-striped table-bordered caption-top">
        <caption>Deleted Works On Logs</caption>
        <thead>
            <tr>
                <th>
                    ID
                </th>
                <th>
                    Employee ID
                </th>
                <th>
                    Task ID
                </th>
                <th>
                    Hours
                </th>
                <th>
                    Deleted At
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.FirstOrDefault().works_On_Audits)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.empID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.taskID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.hours)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.deleted_at)
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>

<script>
    $(document).ready(function () {
        $('table').DataTable();
    });
</script>
